@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: bisque;
  color: white;
}

.container {
  display: flex;
}

.left,
.right {
  width: 50%;
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: -10px;
}

label {
  display: block;
  padding: 2px 0 2px 10px;
  background-color: gray;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
}

i {
  margin-right: 5px;
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: blue;
}

.fa-square-js {
  color: yellow;
}

textarea {
  resize: none;
  width: 100%;
  height: 190px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 0 0 5px 5px;
}

iframe {
  width: 100%;
  height: 97%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 0 0 5px 5px;
}

textarea:focus {
  outline: none;
}

.hide{
  display: none;
}
.allItems {
  position: relative;
  width: 100%;
  height: 80px;
  list-style: none;
  color: white;
  background-color: rgb(253, 204, 113);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  padding-top: 15px;
  visibility:hidden;
  height: 0px;
}

.item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.item.active {
  transform: translateY(-10px);
}

.item i {
  font-size: 30px;
}

.item .title {
  font-size: 12px;
  margin-bottom: -25px;
  opacity: 0;
}

.item.active .title {
  opacity: 1;
}

.dot {
  width: 40px;
  height: 40px;
  border: 9px solid white;
  border-radius: 50%;
  background-color: rgb(253, 204, 113);
  position: absolute;
  left: 80px;
  top: -20px;
  transition: all 0.3s ease-in-out;
}

.dot::after,
.dot::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: -11px;
  background-color: rgb(253, 204, 113);
  box-shadow: 0px -7px white;
}

.dot::after {
  left: -24px;
  border-top-right-radius: 25px;
}

.dot::before {
  right: -24px;
  border-top-left-radius: 25px;
}
  @media (max-width: 450px){
    .container{ 
      flex-wrap: wrap;
    }
    .left, .right{
      min-width: 300px;
      width: 95%;
      margin: auto;
    }
    .left div{
      height: 40vh;
    }
    .left div textarea{
      height: 90%;
    }
    .allItems{
      visibility:visible;
      height: 80px;
    }
    .right{
      height: 40vh;
    }
    .right textarea{
      height: 90%;
    }
  }
  footer{
    margin-top: 20px;
    background-color: black;
    color: rgb(150, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
  }
  footer div{
    text-align: center;

  }
  code{
    color: white; 
  }